/* FOOTER */
.footer {
    padding-top: 60px;
    padding-bottom: 25px;
    background-color: var(--beige);
}

.footer h3 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.footer-logo {
    font-size: 1.7rem;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: var(--texto);
}

.footer a:hover {
    color: var(--rosa-oscuro);
}

.redes {
    display: flex;
    gap: 20px;
}

.redes a {
    font-size: 1.4rem;
}

.footer hr {
    margin-top: 40px;
    border-color: #d8d2ca;
}
